$color-theme-white: #eee;
$color-theme-white-light: rgb(255, 255, 255);
$color-theme-black: #111;
$color-theme-black-light: rgb(71, 71, 71);

.o1{
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    &__carousel{
        height: 100vh;
        width: 99vw;
        overflow: hidden;
        position: absolute;

        &-img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transition: 0.7s ease;
        overflow: hidden;

        &--active{
        opacity: 1;
        transform: scale(1.02);

        animation: move 5s linear infinite;
        }
        }
    }

    &__panel{
        width:100%;
        position: absolute;
        bottom: 2vh;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 768px) {
            bottom: 10vh;
        }

        &-button{
            width: 10px;
            height: 40px;
            margin-top: 25px;
            font-size: 100%;
            font-family: inherit;
            border: none;
            background: transparent;
            overflow: visible;
            text-transform: none;
            -webkit-appearance: button;
            z-index: 5;

            &-container{
                display: flex;
                flex-direction: row;
                order: 2;
                width: 100px;
                justify-content: space-between;

                @media (min-width: 768px) {
                    order: 0;
                    flex-direction: column;
                    align-items: center;
                }
            }

            &:hover{
                cursor: pointer;
            }

            &-prev{
                transform: scale(-1);
            }

            &--black{
                &:hover span{
                    border-top: 2px solid $color-theme-black-light;
                    border-right: 2px solid $color-theme-black-light;
                }
            }

            &--white{
                &:hover span{
                    border-top: 2px solid $color-theme-white-light;
                    border-right: 2px solid $color-theme-white-light;
                }
            }

            &-arrow{
                overflow: hidden;
                display: inline-block;
                width: 9px;
                height: 9px;
                z-index: 2;
                transform: translateX(-50%) rotate(54deg) skew(20deg);

                &--black{
                    border-top: 2px solid $color-theme-black;
                    border-right: 2px solid $color-theme-black;
                }

                &--white{
                    border-top: 2px solid  $color-theme-white;
                    border-right: 2px solid  $color-theme-white;
                }
            }
        }

        &-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 200px;
            margin-top: 40px;
        }

        &-label{
            border-radius: 50%;
            height: 10px;
            width: 10px;
            transition: 0.2s;
            z-index: 5;

            &--black{
                border: 1px solid $color-theme-black;

                &:hover{
                    background: $color-theme-black-light;
                    cursor: pointer;
                }
            }

            &--white{
                border: 1px solid $color-theme-white;

                &:hover{
                    background: $color-theme-white-light;
                    cursor: pointer;
                }
            }

            &-logo{
                transform: translate(-6px, -9.3px);
                width: 100px;
            }
        }

        &-line{
            width: 230px;
            justify-self: center;
            align-self: center;
            height: 1px;
            margin-top: 1rem;

            &--black{
                background: $color-theme-black-light;
            }

            &--white{
                background: $color-theme-white-light;
            }
        }

        &-loading{
            width: 230px;
            justify-self: center;
            align-self: center;
            height: 1.5px;
            margin-top: 10px;

            &-container{
                height: 20px;
                display: flex;
                align-items: center;
                overflow: hidden;
            }

            &--black{
                background: $color-theme-black;
            }

            &--white{
                background: $color-theme-white;
            }
        }
    }

    &__info{
        width: 80vw;
        position: absolute;
        bottom: 10vh;
        left: 5%;

        @media (min-width: 768px) {
            width: 35rem;
        }

        &--black{
            color: $color-theme-black;
        }

        &--white{
            color: $color-theme-white;
        }

        &-title{
            font-size: 2rem;

            @media (min-width: 768px) {
                font-size: 3rem;
            }
        }

        &-subtitle{
            font-size: 1.5rem;
            text-transform: uppercase;

            @media (min-width: 768px) {
                font-size: 2rem;
            }

            &--bold{
                font-weight: 400;
            }
        }
    }
    &__button{
        margin-bottom: 5rem;
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 250px;

        &:hover {
            cursor: pointer;
        }

        @media (min-width: 768px) {
            width: 330px;
        }

        &-line{
            width: 165px;
            justify-self: center;
            align-self: center;
            height: 1px;
            background: #fff;

            @media (min-width: 768px) {
                width: 230px;
            }

            &--black{
                background: #000;
            }
        }

        &-link{
            border-radius: 50%;
            height: 60px;
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.5s;

            &--white{
                border: 1px $color-theme-white solid;
            }

            &--black{
                border: 1px $color-theme-black solid;
            }
        }

        &-arrow{
            overflow: hidden;
            display: inline-block;
            width: 9px;
            height: 9px;
            transform: translateX(-2px) rotate(54deg) skew(20deg);
            z-index: 2;

            &--white{
                border-top: 2px solid $color-theme-white;
                border-right: 2px solid $color-theme-white;
                }

            &--black{
                border-top: 2px solid $color-theme-black;
                border-right: 2px solid $color-theme-black;
            }
        }
    }
}


@keyframes move {
    0% {
        transform: scale(1.02) translateX(0);
    }

    100% {
        transform: scale(1.05) translateX(-2%);
    }
}
