.o2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width:100vw;
    margin-top: 1rem;

    &__title{
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 15rem;
        min-height: 15rem;

        @media (min-width: 480px) {
            width: 100%;
        }

        @media (min-width: 780px) {
            width: 230px;
        }

        &-text{
            line-height: 3rem;
            font-size: 2rem;
            align-self: flex-end;
            margin: 0;

            @media (min-width: 780px) {
                line-height: 3.3rem;
                font-size: 3.3rem;
            }
        }
    }

    &__item{
        position: relative;
        overflow: hidden;

        @media (min-width: 480px) {
            transform: translate(0);

            &:hover{
                cursor: pointer;

            }
            &:hover img{
                filter: blur(0.6px);
            }

            &:hover .o2__info-title{
                transform: translateY(-167px);
            }

            &:hover .o2__info-text{
                transform: translateX(-90px);
            }
        }

        @media (min-width: 780px) {

            &:hover .o2__info-title{
                transform: translateY(-217px);
            }
        }

        &-small{
            width: 100%;

            @media (min-width: 480px) {
                width: calc(33.33% - 6px);
                flex: 0 0 calc(33.33% - 6px);
                    &:hover img{
                        transform: scale(1.2);
                    }
            }
        }

        &-big{

            @media (min-width: 480px) {
                width: calc(66.66% - 6px);
                flex: 0 0 calc(66.66% - 6px);
                &:hover img{
                    transform: scale(1.05);
                }
            }
        }
    }

    &__image{
        width:100%;
        min-height: 15rem;;
        object-fit: cover;
        transition: 1s;
        z-index: -1;

        @media (min-width: 480px) {
            height: 100%;
        }
    }
    &__info{
        width: 90%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        margin-bottom: 2rem auto;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 480px) {
            left: 0;
            transform: translateX(0);
        }

        &-title{
            font-size: 2rem;
            transition-duration: 0.5s;
            transition-delay: 0.2s;


        &-secondary{
            display: none;

            @media (min-width: 480px) {
                display: inline;
            }
        }

            &-container{
                display: flex;
                flex-direction: column;
                transform: translate(0);
                overflow: hidden;

                @media (min-width: 480px) {
                    font-size: 2rem;
                    max-height: 167px;
                }

                @media (min-width: 780px) {
                    font-size: 3.3rem;
                }
            }

            @media (min-width: 480px) {
                font-size: 2rem;
            }

            @media (min-width: 780px) {
                font-size: 3.3rem;
                line-height: 3.3rem;
            }
        }

        &-link{
            align-self: flex-end;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            min-width: 90vw;
            height: 50px;
            transition: 0.8s;

            @media (min-width: 480px) {
                min-width: 150px;
            }

            @media (min-width: 780px) {
                min-width: 250px;
            }

            @media (min-width: 1200px) {
                min-width: 370px;
            }

            &-container{
            @media (min-width: 480px) {
                width: 370px;
                display: flex;
                flex-direction: row;
                overflow-x: hidden;
            }
            }
        }


        &-line{
            width: 100px;
            justify-self: center;
            align-self: center;
            height: 1px;
            background: #fff;
            display: none;

            @media (min-width: 780px) {
                display: inline;
            }
        }

        &-text{
            font-weight: 300;
            // height: 30px;
            min-width: 80px;
            transform: translateX(0);
            transition-duration: 0.4s;
            transition-delay: 0.2s;
            padding-right: 10px;

            &-secondary{
                display: none;
                @media (min-width: 480px) {
                    display: inline;
                }
                }

            &-container{
                @media (min-width: 480px) {
                    width: 80px;
                    display: flex;
                    flex-direction: row;
                    overflow-x: hidden;
                }
                }
        }

        &-arrow{
            overflow: hidden;
            display: inline-block;
            width: 0.5rem;
            height: 0.5rem;
            margin-top: 0.2rem;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            transform: rotate(54deg) skew(20deg);
            z-index: 2;
        }
    }
}


